@page "/Album/{id:guid}"
@inject ApplicationDbContext _dbContext;

<h3>@_album.Title</h3>
<h4>Дата релиза: @_album.ReleaseDate.ToShortDateString()</h4>

<AlbumComponent Album="@_album.MapAlbumModel()"></AlbumComponent>

@code {
    [Parameter]
    public Guid Id { get; set; }

    private AlbumReleaseModel _album;

    protected override void OnInitialized()
    {
        _album = _dbContext.Albums
            .Include(a => a.Tracks).Single(a => a.Id == Id)
            .MapAlbumReleaseModel();
    }



}