@page "/AuthorCabinet"
@inject AuthorService _authorService;
<h3>Личный кабинет музыканта</h3>

@if (_isAuthor)
{
    <AuthorManaging></AuthorManaging>
}
else
{
    <BecomeAuthor OnAuthorBecame=@_onAuthorBecame></BecomeAuthor>
}

@code {

    private bool _isAuthor;
    private readonly Action _onAuthorBecame;

    public AuthorCabinet()
    {
        _onAuthorBecame = () =>
        {
            _isAuthor = true;
            StateHasChanged();
        };
    }

    protected override void OnInitialized()
    {
        _isAuthor = _authorService.IsAuthor();
        StateHasChanged();
    }
}