@page "/AuthorCabinet"
@inject AuthorService _authorService;
<h3>Author Cabinet</h3>


@if (_isAuthor)
{
    <AuthorTracks></AuthorTracks>
    <TracksComponent Tracks="_author.Tracks"></TracksComponent>
}
else
{
    <BecomeAuthor OnAuthorBecame=@_onAuthorBecame></BecomeAuthor>
}


@code {

    private AuthorProfileModel _author;
    private bool _isAuthor;
    private readonly Action _onAuthorBecame;

    public AuthorCabinet()
    {
        _onAuthorBecame = () =>
        {
            _isAuthor = true;
            StateHasChanged();
            _author = _authorService.GetAsAuthor();
        };
    }

    protected override void OnInitialized()
    {
        _author = _authorService.GetAsAuthor();
        _isAuthor = _authorService.IsAuthor();
        StateHasChanged();
    }
}