@page "/Saved"
<h3>Saved</h3>

@if (_tracks is null)
{
    <p>Loading tracks...</p>
}
else
{
    <TracksComponent Tracks=@_tracks></TracksComponent>
}

@code {
    private TrackModel[] _tracks;
    private AlbumModel[] _albums;

    protected override void OnInitialized()
    {
        _tracks = new TrackModel[0];

        _albums = new AlbumModel[0];
    }
}