@page "/"
<div class="row">
    <div class="col">
        <h2>AURA</h2>
        <p>Aura is the best streaming serivce in the world!</p>
    </div>
    <div class="col">
        Main features
        <ol>
            <li>
                Smart recommender system
            </li>
            <li>
                Ability to uplodad your own tracks
            </li>
            <li>
                Become the author just in one click!
            </li>
        </ol>
    </div>

</div>