<tr>
    <td><a href="/Author/@Track.Author.Id">@Track.Author.Name</a></td>
    <td>@Track.Title</td>
    <td>@ConvertTime(Track.Duration)</td>
</tr>

@code {
    [Parameter]
    public TrackModel Track { get; set; }

    private static string ConvertTime(int sec)
    {
        return $"{sec / 60}:{(sec % 60).ToString().PadLeft(2, '0')}";
    }
}