@inject AuthorService _authorService;

<div class="row">
    <div class="col">
        <h4>Треки</h4>
        <div class="mb-3">
            <AuthorTrackUpload></AuthorTrackUpload>
        </div>
        <TracksComponent Tracks="_author.Tracks"></TracksComponent>
    </div>
    <div class="col">
        <h4>Альбомы</h4>
        <div class="mb-3">
            <AuthorAlbumUpload></AuthorAlbumUpload>
        </div>
        <AlbumsComponent Albums="_author.Albums"></AlbumsComponent>
    </div>
</div>



@code {
    private AuthorProfileModel _author;

    protected override void OnInitialized()
    {
        _author = _authorService.GetAsAuthor();
    }
}