<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TEAM C</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="container">
        <div class="row mt-2">
            <div class="col-8">
                <canvas id="canvas" class="bordered" width="800" height="600"></canvas>
            </div>

            <div class="col-xxl-4">
                <div>
                    <button id="next"> Next! </button>
                    <button id="apply"> Apply! </button>
                </div>
                <div id="res-select" class="row row-cols-auto container"> </div>
            </div>
        </div>
    </div>
</body>

<script type="text/javascript" src="{{ url_for('static', filename='lib.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='draw.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>

</html>