<tr>
    <td><a href="/Author/@Album.Author.Id">@Album.Author.Name</a></td>
    <td><a href="/Albums/@Album.Id">@Album.Title</a></td>
</tr>

@code {

    [Parameter]
    public AlbumModel Album { get; set; }

}