<tr>
    <td><a href="/Author/@Track.Author.Id">@Track.Author.Name</a></td>
    <td>@Track.Title</td>
    <td>@Track.Duration.ToMinSec()</td>
    @ChildContent
</tr>

@code {
    [Parameter]
    public TrackModel Track { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }
}